
.video-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .video-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .video-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .video-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .video-form button:hover {
    background-color: #45a049;
  }

/*new code */


/* Responsive Styles */
@media (max-width: 768px) {
  .video-form {
    padding: 15px;
  }

  input,
  select,
  button {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    padding: 10px;
  }
}

label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
label span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
input[type="file"] {
  display: none; /* Hide the default file input */
}
.custom-file-input {
  background-color: #c7c5cc;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  width:40%;
  height:30%;
}
.custom-file-input:hover {
  background-color: #aeb6af;
}
.file-name {
  margin-top: 5px;
}
input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}


.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-right: 10px;
  font-size: 16px;
}

.checkbox-input {
  margin-right: 5px;
  cursor: pointer;
}

/* Style for unchecked state */
.checkbox-label:not(.isChecked) {
  color: #333; /* Change the color to your preference */
}

/* Style for checked state */
.checkbox-label.isChecked {
  color: #00aaff; /* Change the color to your preference */
  font-weight: bold;
}

/* Optional: Style for the checkbox itself */
.checkbox-input {
  width: 20px;
  height: 20px;
}